# Lap-3b KNN with Iris.csv

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#AndreZuliani_202131031

In [2]:
data = pd.read_csv('iris.csv')
data
#AndreZuliani_202131031

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
data.info()
#AndreZuliani_202131031

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
data.describe()
#AndreZuliani_202131031

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
print(data['Species'].unique())
#AndreZuliani_202131031

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [6]:
from sklearn.preprocessing import LabelEncoder
for col in ['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'Species']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    data
    print (data['Id'],data['SepalLengthCm'],data['SepalWidthCm'],data['PetalLengthCm'],data['Species'])
#AndreZuliani_202131031

0        0
1        1
2        2
3        3
4        4
      ...
145    145
146    146
147    147
148    148
149    149
Name: Id, Length: 150, dtype: int64 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64 0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0        0
1        1
2        2
3        3
4        4
      ...
145    145
146    146
147    147
148    148
149    149
Name: Id, Length: 150, dtype: int64 0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0        0
1        1
2        2
3        3
4        4
      ...
145    145
146    146
147    147
148    148
149    149
Name: Id, Length: 150, dtype: int64 0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0        0
1        1
2        2
3        3
4        4
      ...
145    145
146    146
147    147
148    148
149    149
Name: Id, Length: 150, dtype: int64 0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0       4
1       4
2       3
3       5
4       4
       ..
145    28
146    26
147    28
148    30
149    27
Name: PetalLengthCm, Length: 150, dtype: int64 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
0        0
1        1
2        2
3        3
4        4
      ...
145    145
146    146
147    147
148    148
149    149
Name: Id, Length: 150, dtype: int64 0       8
1       6
2       4
3       3
4       7
       ..
145    24
146    20
147    22
148    19
149    16
Name: SepalLengthCm, Length: 150, dtype: int64 0      14
1       9
2      11
3      10
4      15
       ..
145     9
146     4
147     9
148    13
149     9
Name: SepalWidthCm, Length: 150, dtype: int64 0       4
1       4
2       3
3       5
4       4
       ..
145    28
146    26
147    28
148    30
149    27
Name: PetalLengthCm, Length: 150, dtype: int64 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [7]:
data
#AndreZuliani_202131031

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      0              8            14              4           0.2        0
1      1              6             9              4           0.2        0
2      2              4            11              3           0.2        0
3      3              3            10              5           0.2        0
4      4              7            15              4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  145             24             9             28           2.3        2
146  146             20             4             26           1.9        2
147  147             22             9             28           2.0        2
148  148             19            13             30           2.3        2
149  149             16             9             27           1.8        2

[150 rows x 6 columns]

In [8]:
x = data.drop('Species', axis = 1)
y = data['Species']
#AndreZuliani_202131031

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state =0)
#AndreZuliani_202131031

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 1)
#AndreZuliani_202131031

In [11]:
knn.fit(x_train, y_train)
#AndreZuliani_202131031

KNeighborsClassifier(n_neighbors=1)

In [12]:
print("Akurasi score sebesar: {}".format(knn.score(x_test,y_test)*100))
#AndreZuliani_202131031

Akurasi score sebesar: 100.0

C:\Users\ANDRE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)